@NavBarColor:#00FFFF;
@IconSize:30px;
@SearchIconSize:20px;
@IconColor:white;
.NavBar{
    padding: 10px;
    background-color:@NavBarColor;
}
.IconSize{
    font-size: @IconSize;
    color: @IconColor;
}
.IconColor{
    font-size: 20px;
    color: @IconColor;
}
.AvatarStyle{
    margin-left: 10px;
}
